@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.not-found-container{
  background: #f1f8fc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image{
  width: 350px;
  margin: 0 0 35px 0;
  padding: 0;
}

.not-found-text{
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin: 0;
}

.not-found-icon{
  font-size: 60px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
	.not-found-image{
    width: 80%;
  }
}