@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.loading-container{
  background: #f1f8fc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-image{
  width: 350px;
  margin: 0;
  padding: 0;
}

.loading-text{
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}


@media screen and (max-width: 1023px) {
	.loading-image{
    width: 80%;
  }
}