@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.recover-password-container{
  margin: 0;
  padding: 0;
  background: #f1f8fc;
  height: 100vh;
  overflow: hidden;
}

.recover-password-center{
  font-family: 'Poppins', sans-serif;
  max-width:500px;
  background-color: #fff;
  box-shadow: 7px 6px 8px -1px rgba(0,0,0,0.2);
  padding: 25px 30px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;;
}

.recover-password-title{
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 1.4;
  color: #EF8E61;
  margin: auto;
}

.recover-password-input-box{
  margin-top: 10px;
  margin-bottom: 10px;
}

.recover-password-label{
  font-size: 19px;
}

.recover-password-input{
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-bottom: 25px;
}
.recover-password-input:focus,
.recover-password-input:valid{
    border-color: #9b59b6;
}

.recover-password-btn{
  height: 40px;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--mainColor);
}

.recover-password-btn:hover{
  background-color: var(--hoverColor);
}

.recover-password-btn:disabled{
  background-color: var(--disabled);
}