@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  --mainColor: #EF8E61;
  --hoverColor: #ee8352;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

.userinfo-wrapper{
  margin: 0;
  padding: 0;
  background: var(--backgroundColor);
  height: 100vh;
  overflow: hidden;
}

.userinfo-body-container{
  font-family: 'Poppins', sans-serif;
  max-width:500px;
  width:100%;
  background-color: #fff;
  box-shadow: 7px 6px 8px -1px rgba(0,0,0,0.2);
  padding: 25px 30px;
  border-radius: 5px;
  margin: auto;
}

.userinfo-title{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.userinfo-title-divider{
  content: ''; 
  height: 3px;
  width: 150px;
  margin: 0 auto;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(255,126,95,1) 0%, rgba(254,180,123,1) 100%);
}
.userinfo-form {
    display: block;
    justify-content: space-between;
    margin: 20x 0 12px 0; 
}

.userinfo-input-box{
  margin-top: 15px;
  margin-bottom: 15px;
}

.userinfo-input-box label{
  font-size: 19px;
}

.userinfo-input{
  font-family: 'Poppins', sans-serif;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.userinfo-input:focus,
.userinfo-input:valid{
    border-color: #9b59b6;
}

.userinfo-form .userinfo-button{
    height: 45px;
    margin: 35px;
}

.userinfo-button input{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--mainColor);
}

.userinfo-button input:hover{
    background-color: var(--hoverColor);
}

.userinfo_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.userinfo_link a{
  color: #ee8352;
  text-decoration: none;
}

.userinfo_link a:hover{
  text-decoration: underline;
}

.selection-title{
  font-size: 20px;
}

form .category{
  display: flex;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-l:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four,
#dot-5:checked ~ .category label .five,
#dot-6:checked ~ .category label .six,
#dot-7:checked ~ .category label .seven
{
  background: var(--mainColor);
  border-color: var(--lightTwo);
}

form input[type="radio"]{
  display: none;
}

@media screen and (max-width: 1023px){
  .userinfo-body-container{
      max-width: 80%;
      margin-top: 0px;
  }
  
  .userinfo-form .userinfo-input-box{
      margin-bottom: 15px;
      width: 100%;
  }

  .content .userinfo-form {
      max-height: 300px;
      overflow-y: scroll;
  }

  form .selection-details .category{
    width: 100%;
    display: block;
    
  }

  .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
  }
  ::-webkit-scrollbar{
      width: 5px;
  }
}