@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --mainColor: #EF8E61;
    --hoverColor: #ee8352;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
}

.home-container{
    font-family: "Poppins", sans-serif;
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.home-body-container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.big-title-home {
    font-size: 1.4rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4;
}

.text-home {
    color: var(--lightOne);
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3;
}

.homeImage {
    width: 90%;
    transform: translate(15%, 25px);
}

.btn-getstarted {
	display: inline-block;
	padding: 0.9rem 1.9rem;
	color: #fff !important;
    text-decoration: none;
	background-color: var(--mainColor);
	border-radius: 16px;
	text-transform: capitalize;
	transition: 0.3s;
}

.btn-getstarted:hover {
	background-color: var(--hoverColor);
	transform: scale(1) !important;
}

.btn-signup:hover {
	background-color: var(--hoverColor);
	transform: scale(1) !important;
}


@media screen and (max-width: 870px) {

    .home-body-container {
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 2rem;
        padding: 2.5rem 0;
        max-width: 700px;
        margin: 0 auto;
    }

    .big-title-home {
        font-size: 1.1rem;
    }

    .text-home {
        font-size: 0.95rem;
        margin: 1.4rem 0 1.5rem;
    }

    .homeImage {
        width: 100%;
        transform: none;
    }
}

@media screen and (max-width: 470px) {
    .home-body-container {
        padding: 0 0.5rem;
    }

    .big-title-home {
        font-size: 0.9rem;
    }

    .text-home {
        margin: 1.1rem 0 1.5rem;
    }
}