@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: l0px;
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.container{
    max-width:700px;
    width:100%;
    background-color: #fff ;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10x rgba(0, 0, 0, 0.5);
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: ''; 
    position:absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 70px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(255,126,95,1) 0%, rgba(254,180,123,1) 100%);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20x 0 12px 0;    
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .user-details .input-box-one{
    margin-top: 15px;
    margin-bottom: 15px;
}

form .input-box span.details{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input :focus,
.user-details .input-box input :valid{
    border-color: #9b59b6;
}
form .selection-details .selection-title{
    font-size: 20px;
    font-weight: 500;
}

.user-details .input-box-one{
    margin-bottom: 15px;
    width: 100%;
}

.user-details .input-box-one span.details{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box-one input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box-one input :focus,
.user-details .input-box-one input :valid{
    border-color: #9b59b6;
}
form .selection-details .selection-title{
    font-size: 20px;
    font-weight: 500;
}


form .button{
    height: 45px;
    margin: 35px;
}

form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(90deg, rgba(255,126,95,1) 0%, rgba(254,180,123,1) 100%);
}

form .button input:hover{
    background: linear-gradient(90deg, rgba(255,126,95,1) 0%, rgba(254,180,123,1) 100%);
}

@media (max-width: 584px){
    .container{
        max-width: 95%;
    }
    
    form .user-details .input-box-one{
        margin-top: 15px;
    }

    form .user-details .input-box-one,
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
}