@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
	--mainColor: #EF8E61;
	--hoverColor: #ee8352;
	--backgroundColor: #f1f8fc;
	--darkOne: #312f3a;
	--darkTwo: #45424b;
	--lightOne: #919191;
	--lightTwo: #aaa;
	--disabled: #f9bca0;
}

*{
  margin: 0px;
  padding: 0px;
}

body{
	background: var(--backgroundColor);
}